* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans";
}
.space20 {
  margin-top: 20px;
}

header {
  background-color: #2477f3;
  color: #ffffff;
  max-height: 80px;
  padding: 15px;
}
.logo{
  
}
ul{
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.btn-blue{
  padding: 10px;
  color: #ffffff;
  background-color: #2477f3;
  border-radius: 15px;
  border: none;
  }
.btn-white{
padding: 10px;
color: #2477f3;
background-color: #ffffff;
border-radius: 15px;
}
a {
  color: #ffffff;
  text-decoration: none;
}


.justify-center-align-center {
  justify-content: space-around;
  align-items: center;
}

.flex {
  display: flex;

}
.gap{
  gap:20px;
}
.squaring {
  flex-wrap: wrap; 
  margin: 0 auto;
  margin-top: 50px;
}
.square-big {
  flex-basis: 60%;
  border-radius: 20px;
  background-color: #7ec4fd;
  text-align: left;
}
.square-normal {
  flex-basis: 29%;
  border-radius: 20px;
  min-height: 200px;
  background-color: #7ec4fd;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.strategic{
  align-items: center;
  justify-content: center;
  position: relative;
}
.half{
  
}
.violet{
  background-color: rgb(149, 147, 230);
  margin-top: 50px;
  min-height: 600px;

}
img{
  max-width: 200px;
}
.first{
  padding: 37px;
  
}
.txt1{
  margin-top: 50px;
}
.second{
  background-color: #ffffff;
  padding: 37px;
  border-radius: 7%;
  position: relative;
  top: 174px;

}
.title{
  text-align: center;
}
.columns{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: rgb(149, 147, 230);
  padding: 20px;
  color: #ffffff;
  border-radius: 16%;
}
.portrait{
  border-radius: 50%;
}
