* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans";
}
.fa-solid , .fa-file{
  color: #2477f3;
  font-size: 60px;
}
h2{
  color: #2477f3;
}
.space20 {
  margin-top: 20px;
}
.space30 {
  margin-top: 30px;
}
.white{
  color: #ffffff;
}
header {
  background-color: #2477f3;
  color: #ffffff;
  max-height: 80px;
  padding: 15px;
}
.logo{
  
}
ul{
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.btn-blue{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  background-color: #2477f3;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  }
.btn-violet{
  padding: 10px;
  color: #ffffff;
  background-color: rgb(149, 147, 230);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  max-width: 87px;
  margin-left: 20px;
  padding-left: 24px;
}

.btn-white{
padding: 10px;
color: #2477f3;
background-color: #ffffff;
border-radius: 15px;
cursor: pointer;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.justify-around-align-center {
  justify-content: space-around;
  align-items: center;
}

.justify-evenly-align-center {
  justify-content: space-evenly;
  align-items: center;
}
.justify-center-align-center {
  justify-content: center;
  align-items: center;
  
}
.margintop{
  margin-top:50px
}
.flex {
  display: flex;

}
.gap{
  gap:20px;
}
.squaring {
  flex-wrap: wrap; 
  margin: 0 auto;
  margin-top: 50px;
}
.square-big {
  flex-basis: 60%;
  border-radius: 20px;
  background-color: #7ec4fd;
  text-align: left;
  padding-top: 16px;
  padding-left: 16px;
}
.square-normal {
  flex-basis: 29%;
  border-radius: 20px;
  min-height: 200px;
  background-color: #7ec4fd;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.strategic{
  align-items: center;
  justify-content: center;
  position: relative;
}


.colorviolet{
  color: rgb(149, 147, 230);
}
.violet{
  background-color: rgb(149, 147, 230);
  margin-top: 50px;
  min-height: 600px;
  text-align: center;
  padding-bottom: 20px;
}
img{
  max-width: 200px;
}
.first{
  padding: 37px;
  
}
.txt1{
  margin-top: 50px;
}
.second{
  background-color: #ffffff;
  padding: 23px;
  border-radius: 7%;
  position: relative;
  top: 125px;
  text-align: center;

}
.title{
  text-align: center;
}
.columns{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: rgb(149, 147, 230);
  color: #ffffff;
  border-radius: 5%;
}
.portrait{
  flex-basis: 16%;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.txtcard{
  flex-basis: 58%;
}


.fa-arrow-down{
  color: black;
  background-color: rgb(149, 147, 230);
  padding: 5px;
  border-radius: 50%;
  font-size: 25px;
}
.bigger{
  font-size: 55px;
}
.biggie{
  font-size: 20px;
}
.box{
  flex-basis: 25%;
  min-height: 330px;
  background-color: white;
  border-radius: 20px;
}
h3{
  padding-top: 36px;
}
.testo{
  margin-left: 20px;
  margin-top: 40px;
  text-align: left;

}
h1{
  font-size: 55px;
  color: rgb(149, 147, 230);
}
.mrg{
  margin-right: 15px;
}
.ABOUT{

}
.testim{
  border-radius: 50%;
}
.testimonial{
  display: flex;
  flex-direction: column;
  position: relative;
}
.testimonial-btn-violet{
  padding: 10px;
  color: #ffffff;
  background-color: rgb(149, 147, 230);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: -2px;
  padding-left: 19px;
  max-width: 133px;
  font-size: 10px;
}
.fa-quote-left{
  color: rgb(149, 147, 230);
  position: relative;
  bottom: 196px;
  left: 151px;
}
